<ion-view>

<ion-header-bar align-title="center" class="bar-dark">
  <h1 class="title" style="font-size: 30px;">Agrowisata Bali</h1>
</ion-header-bar>

  <ion-content padding="true" style="background: url(img/bg-first.png) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/GL9qVMhGQlaqEfKtBCDk_logo1.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
      <div class="button-bar">
        <a ui-sref="login" class="button button-balanced button-block">Login</a>
        <div class="spacer" style="width: 5px;"></div>
        <a ui-sref="register" class="button button-positive button-block">Register</a>
      </div>
    <a ui-sref="about" class="button button-dark button-block col-50 col-offset-25" style="font-weight: 600;"> ABOUT</a>
  </ion-content>
</ion-view>