<ion-tabs class="tabs-balanced tabs-icon-top">

  <ion-tab title="List Agrowisata" icon-on="ion-images" icon-off="ion-image" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tambah Rekomendasi" icon-on="ion-plus-circled" icon-off="ion-ios-plus-outline" href="#/tab/add">
    <ion-nav-view name="tab-add"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-on="ion-ios-body" icon-off="ion-ios-body-outline" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>